@model HumberStudentGroup.ADO.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else
    {
        ViewBag.UserId = Session["UserId"];
    }
}

<style>

</style>

<div>
    <div style="float: right;">
        @Html.Partial("_Chat", Model.Chat)
    </div>

    <h2>@Model.Title</h2>
    <p>@Model.Desc</p>
    <p>Group Owner: @ViewBag.Author</p>

    <div>
        @Html.ActionLink("Create Post", "Create", "Posts", new { groupId = @Model.Id }, null)
    </div>


    <h1>Members Of Group</h1>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.Username</li>
        }
    </ul>

    <h1>Group Posts</h1>
    <ul>
        @foreach (var post in Model.Posts)
        {
            <div>
                <h1>@post.Title</h1>
                <div>
                    <h1>@post.Body</h1>
               </div>
            </div>
        }
    </ul>

    <p>
        @if (@Model.AuthorId == ViewBag.UserId)
        {
            @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
        }
        else
        {
            if (@Model.Users.Any(u => u.Id == ViewBag.UserId))
            {
                @Html.ActionLink("Leave | ", "Leave", new { id = Model.Id })
            }
            else
            {
                @Html.ActionLink("Join | ", "Join", new { id = Model.Id })
            }
        }

        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
