@model IEnumerable<HumberStudentGroup.ADO.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2 style="text-align:center">Index</h2>


<div style="padding-bottom: 5px;">
    <input type="button" class="btn btn-success" value="Create User" onclick="location.href='@Url.Action("Create", "Users")'" />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <input type="button" class="btn btn-info" value="View User" onclick="location.href='@Url.Action("Details", "Users", new { id = item.Id })'" />
                <input type="button" class="btn btn-warning" value="Edit User" onclick="location.href='@Url.Action("Edit", "Users", new { id = item.Id })'" />
                <input type="button" class="btn btn-danger" value="Delete User" onclick="location.href='@Url.Action("Delete", "Users", new { id = item.Id })'" />
            </td>
        </tr>
    }

</table>
